@font-face {
  font-family: iransans;
  src: url(/public/fonts/ir_sans_0.ttf);
}

* {
  direction: rtl;
  font-size: 50px;
  font-family: iransans !important;
}
body {
  font-family: iransans !important;
}
p {
  font-family: iransans !important;
}
